*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    anchor-name: --some-anchor;

}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* gap: 10px; */
    color: white;
}


.box {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box:hover {
    anchor-name: --some-anchor;

}

/* .red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
} */
.anchor {
    background-color:rgba(255, 255, 255, 0.23);
    position: absolute;
    top: anchor(top);
    left:anchor(left);
    right:anchor(right);
    bottom:anchor(bottom);
    position-anchor: --some-anchor;
    pointer-events: none;
    transition: all 0.5s ease;
    mix-blend-mode: difference;
    border-radius: 20px;

}