*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card {
   width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s linear;
    background: linear-gradient(black) padding-box
    ,conic-gradient(from var(--rotate), black,rgba(255, 0, 123, 0.792),black) border-box;
    border: 5px solid rgba(255, 255, 255,0);
}

img {
    height: 76%;
    width: 100%;
    object-fit: cover;
}
h2 {
    font-size: 16px;
    color: white;
    
}
p {
    font-size: 12px;
    color: white;
}

.card:hover {
    animation: rotate 2s linear infinite;
    box-shadow: 0 0 40px rgb(255, 0, 123);
}



@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    from {
        --rotate:0deg;
    }

     to {
        --rotate:360deg;
    }
}